@font-face {
  font-family: titleFont;
  src: url(./fonts/lemon_tuesday.otf);
}

@font-face {
  font-family: textFont;
  src: url(./fonts/bright_chalk.ttf);
}

html {
  font-family: textFont;
  letter-spacing: 5px;
  color: var(--two);
}

button {
  margin: auto;
  border: none;
  padding: 5px 40px;
  background-color: var(--five);
  color: white;
  font-family: textFont;
  font-size: large;
  letter-spacing: 5px;
  text-shadow: var(--two) -2px 2px;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: var(--two) 0px 0px 4px;
}

h3 {
  color: var(--two)
}

h4 {
  text-align: center;
  margin: 10px auto 30px auto;
}

:root {
  --one: #F78404;
  --two: #EE7804;
  --three: #FFFC9E;
  --four: #FFE26C;
  --five: #FB9D14;
  background-color: var(--four);
}

div#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--five);
  margin: 0px -10px;
  padding: 0px;
}

h1.title-header {
  position: relative;
  left: 10%;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 30px;
}

h1.title-header span.special-text {
  font-family: titleFont;
  font-size: 60px;
  color: white;
  text-shadow: var(--two) -4px 5px;
  letter-spacing: 10px;
}

h1#site-name {
  font-size: 80px;
  font-weight: bold;
  color: white;
  margin: 10px 0px 10px 80px;
  font-family: titleFont;
  letter-spacing: 13px;
  text-shadow: var(--two) -5px 8px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 7px;
  margin-right: 15px;
  margin: 0px -10px 10px -10px;
  background-color: var(--three);
}
nav a {
  text-decoration: none;
  color: var(--five);
  padding: 8px 40px 8px 40px;
  font-family: textFont;
  letter-spacing: 5px;
  text-shadow: var(--two) -1px 1px;
}

nav a:hover {
  background-color: var(--four);
}

nav a.active {
  background-color: var(--four);
}

nav a:active {
  box-shadow: var(--two) 0px 0px 3px;
}

div#search-bar {
  background-color: var(--three);
  border-style: solid;
  border-width: 10px;
  border-color: white;
  margin: 20px 30px;
}

div.form-body {
  background-color: var(--three);
  border-style: solid;
  border-width: 10px;
  border-color: white;
  box-sizing: content-box;
  width: max-content;
  padding: 20px 70px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size:larger;
}

div.form-body form.right-form{
  display: flex;
  flex-direction: column;
  font-size:larger;
  align-items: flex-end;
}
div.form-body form.left-form{
  align-items: flex-start;
  font-size:larger;
}

.input-fields {
  all: inherit;
  margin: 50px;
}

form label {
  display: flex;
}


form input, form select, form textarea {
  flex: 2;
  border-style: none;
  margin: 10px;
  padding: 15px;
  letter-spacing: 2px;
  float: right;
}

span.special-text {
  font-family: titleFont;
  font-size: 50px;
  color: white;
  text-shadow: var(--two) -2px 2px 2px;
  letter-spacing: 10px;
}

span.special {
  font-family: titleFont;
  font-size: 40px;
}

span.special:hover {
  cursor: pointer;
}

span.special:active {
  text-shadow: var(--two) -1px 1px 4px;
}

h3.login-header {
  position: relative;
  left: 20%;
}

p span {
  font-size: large;
}

p.center {
  text-align: center;
}

label {
  font-size: larger;
}

div.review-card {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
  background-color: var(--five);
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 5px;
  box-sizing: content-box;
  width: 70%;
  padding: 10px 20px;
  margin: 15px auto;
}

div.review-card:hover {
  top: -5px;
  box-shadow: lightslategray 0px 2px 4px;
}

.review {
  margin: 10px;
}

small.review {
  align-self: flex-end;
}

div.review-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

div.book-image img{
  width: 200px;
  height: 320px;
  margin: 10px;
}

p.review {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

div.book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 70px;
  margin: 20px 160px;
}

div.book-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--five);
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 5px;
  box-sizing: content-box;
  padding: 10px 20px 30px 20px;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

div.book-image {
  align-self: center;
}

div.book-card h3 {
  color: white;
  font-size: x-large;
}

div.book-card small {
  color: white;
  align-self: flex-end;
}

div.book-card:hover {
  top: -5px;
  box-shadow: lightslategray 0px 2px 3px;
}

div.add-button {
  background-color: var(--three);
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px 20px;
  color: var(--four);
  width: 20%;
  transition: width 0.5s ease;
}

div.add-button h1 {
  font-family: 'Times New Roman', Times, serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

div.add-button:hover {
  cursor: pointer;
  color: var(--five);
  width: 70%;
}